/* Background style */
.background {
    -fx-background-color: #2f3136;
}

/* Label styles */
.label-white {
    -fx-text-fill: white;
}

.label-error {
    -fx-font-size: 12px;
    -fx-text-fill: red;
}

/* ComboBox styles */
.combo-box {
    -fx-background-color: #3a3e45;
    -fx-text-fill: white;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

/* DatePicker styles */
.date-picker {
    -fx-background-color: #3a3e45;
    -fx-text-fill: white;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

/* Button styles */
.button-generate {
    -fx-background-color: #0079BF;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}

.button-download {
    -fx-background-color: #0079BF;
    -fx-text-fill: white;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}

/* TableView styles */
.table-view {
    -fx-background-color: #3a3e45;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

/* TableColumn styles */
.table-column {
    -fx-text-fill: white;
}
